/Array.html
/Array.js
/ArrayAssaign2.html
/ArrayAssign3.html
/ArrayAssign3.js
/arrowFunction.html
/ArrowFunction.js
/capital.html
/carcardproj
/DOM
/objectPractice.js
/objPractice2.js
/OTPGenrator
/program1.html
/program1.js
/project1.css
/project1.html
/project1.js
/string.html
/string.js
/TaskManagement
/while.html
/while.js